<h2>あなたをフォローしているユーザーの一覧</h2>

<table>
    <tr>
        <th>
            ユーザー名: 
        </th>
        
    </tr>
    <tr>
        <th>
            <%= render "users" , users: @users %>
        </th>
    </tr>
</table>